.gradient-background {
    background: linear-gradient(300deg, #00ffea, #4cff4f, #ebef72);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
.title1{
    height:60vh;
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em #0000001a, inset 0 .125em .5em #00000026;
}

.bd-mode-toggle {
    z-index: 1500;
}